name: Build on Push

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore Bangumi.NET/Bangumi.NET.csproj

      - name: Build
        run: dotnet build Bangumi.NET/Bangumi.NET.csproj --configuration Release --no-restore
