name: Publish on Tag

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore Bangumi.NET/Bangumi.NET.csproj

      - name: Build
        run: dotnet build Bangumi.NET/Bangumi.NET.csproj --configuration Release --no-restore

      - name: Pack
        run: dotnet pack Bangumi.NET/Bangumi.NET.csproj --configuration Release --no-build --output ./nupkgs

      - name: Publish to NuGet
        run: dotnet nuget push "./nupkgs/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
